<!-- Header
================================================== -->
<header id="home">
    <div id="header-background">

    </div>

    <nav id="nav-wrap">

        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>

        <ul id="nav" class="nav">
            <span id="site-home">
                <li><a href="/#about">Thien Vo</a></li>
            </span>
            <span id="site-opts">
                <li><a href="#resume">Experience</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/demo">Demo</a></li>
            </span>
        </ul> <!-- end #nav -->

    </nav> <!-- end #nav-wrap -->

    {{ banner|default("", true) }}

</header> <!-- Header End -->