<!-- About Section
================================================== -->
<section id="about">

    <div class="row">

        <div class="three columns">

            <img class="profile-pic" src="/static/images/profilepic.jpg" alt="Thien's profile picture" />

        </div>

        <div class="nine columns main-col">

            <h2>About Me</h2>

            <p>I'm a graduating Senior CS student at UT Austin. I had experience working with web development, database,
                and most recently, I've gained exposure to big data field through my summer internship.
                <br/>
                <br/>
                Over the summer and fall semester, I interned at MaxPoint, an internet marketing company, as software engineer working on
                their platform team. I was responsible for converting several existing MapReduce jobs that use Java/Cascading
                stack to use Scala/Spark stack instead. This helped improved performance while reducing resource consumption
                at the same time. Through the project, I learned to pick up new technologies quickly like Python, Scala, Spark,
                Jenkins CI, and some other unique in-house development tools designated only for MaxPoint.
                <br/>
                <br/>
                Before that, I was working as Student Web Developer for McCombs School of Business at UT Austin. I was responsible
                for converting PSD designs into HTML web pages. Since some of these tasks were repetitive, I also created a
                template design for everyone else who might work on the same task in the future. This template cut down the
                process of creating these HTML web pages from several hours into less than half an hour.
                <br/>
                <br/>
                Now as a graduating senior, I'm looking for a full-time opportunity. You can check out my resume and more details
                about each of my past project here on this site. Please feel free to contact me for any further information!
            </p>

            <div class="row">

                <div class="columns contact-details">

                    <h2>Contact Details</h2>
                    <p class="address">
                        <span>Thien Vo</span><br>
                        <span>(512) 954-4289</span><br>
                        <span>thienqvo@gmail.com</span>
                    </p>

                </div>

                <div class="columns download">
                    <p>
                        <a href="{{ url_for('static', filename='documents/resume.pdf')}}" class="button">
                            <i class="fa fa-eye"></i>View Resume</a>
                        <a href="{{ url_for('static', filename='documents/resume.pdf')}}" class="button" download="resume.pdf">
                            <i class="fa fa-download"></i>Download Resume</a>
                    </p>
                </div>
            </div> <!-- end row -->

        </div> <!-- end .main-col -->

    </div>

</section> <!-- About Section End-->