<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Texas at Austin</h3>
                    <p class="info">B.S. in Computer Science<span>&bull;</span> <em class="date">May 2018</em><span>&bull;</span> <em class="date">3.8 GPA</em></p>
                    Some of the relevant courses that I've taken:
                    <div class="row">
                        <div class="six columns">
                            <li>Data Structure</li>
                            <li>Computer Architecture</li>
                            <li>Operating System</li>
                            <li>Object-Oriented Programming</li>
                        </div>
                        <div class="six columns">
                            <li>System Security</li>
                            <li>Data Management</li>
                            <li>Data Mining</li>
                            <li>Software Engineering</li>
                        </div>
                    </div>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>MaxPoint Interactive Inc.</h3>
                    <p class="info">Software Engineer Intern <span>&bull;</span> <em class="date">May 2017 - Present</em></p>

                    <p>
                        Convert MapReduce jobs to Spark jobs.
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>UT Austin - McCombs School of Business</h3>
                    <p class="info">Student Web Developer <span>&bull;</span> <em class="date">Oct 2016 - May 2017</em></p>

                    <p>
                        Create templates and web widgets
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">

            <p>I do platform, database, and big data.
            </p>

            <div class="bars">

                <ul class="skills">
                    <li><span class="bar-expand photoshop"></span><em>Spark</em></li>
                    <li><span class="bar-expand illustrator"></span><em>Scala</em></li>
                    <li><span class="bar-expand wordpress"></span><em>Python</em></li>
                    <li><span class="bar-expand css"></span><em>Java</em></li>
                    <li><span class="bar-expand html5"></span><em>C++</em></li>
                    <li><span class="bar-expand jquery"></span><em>MySQL</em></li>
                </ul>

            </div><!-- end skill-bars -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->