<!-- Resume Section
================================================== -->
<section id="resume">

    <!-- Education
    ----------------------------------------------- -->
    <div class="row education">

        <div class="three columns header-col">
            <h1><span>Education</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>University of Texas at Austin</h3>
                    <p class="info">B.S. in Computer Science<span>&bull;</span> <em class="date">May 2018</em><span>&bull;</span> <em class="date">3.8 GPA</em></p>
                    Relevant courses:
                    <div class="row">
                        <div class="six columns">
                            <li>Data Structure</li>
                            <li>Computer Architecture</li>
                            <li>Operating System</li>
                            <li>Object-Oriented Programming</li>
                        </div>
                        <div class="six columns">
                            <li>System Security</li>
                            <li>Data Management</li>
                            <li>Data Mining</li>
                            <li>Software Engineering</li>
                        </div>
                    </div>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Education -->


    <!-- Work
    ----------------------------------------------- -->
    <div class="row work">

        <div class="three columns header-col">
            <h1><span>Work</span></h1>
        </div>

        <div class="nine columns main-col">

            <div class="row item">

                <div class="twelve columns">

                    <h3>MaxPoint Interactive Inc.</h3>
                    <p class="info">Software Engineer Intern <span>&bull;</span> <em class="date">May 2017 - November 2017</em></p>

                    <p>
                        <li>Rework MapReduce jobs that use Java/Cascading to using Scala/Spark </li>
                        <li>Ensure backward-compatibility of new jobs with older jobs that consume the data</li>
                        <li>Write extensive robust unit tests for each rework to ensure high code coverage</li>
                        <li>Measure and evaluate performance improvements of the reworks</li>
                    </p>

                </div>

            </div> <!-- item end -->

            <div class="row item">

                <div class="twelve columns">

                    <h3>UT Austin - McCombs School of Business</h3>
                    <p class="info">Student Web Developer <span>&bull;</span> <em class="date">Oct 2016 - May 2017</em></p>

                    <p>
                        <li>Add search by GET queries for an existing dynamic search page</li>
                        <li>Implemented several class profile PSD templates into HTML web pages</li>
                        <li>Created a template to speed up the process of implementing class profile pages</li>
                    </p>

                </div>

            </div> <!-- item end -->

        </div> <!-- main-col end -->

    </div> <!-- End Work -->


    <!-- Skills
    ----------------------------------------------- -->
    <div class="row skill">

        <div class="three columns header-col">
            <h1><span>Skills</span></h1>
        </div>

        <div class="nine columns main-col">
            <div class="bars">

                <ul class="skills">
                    {% for skill in skill_list %}
                        <li><span class="bar-expand" style="width: {{ skill['mastery'] }}"></span><em>{{ skill['name'] }}</em></li>
                    {% endfor %}
                </ul>

            </div><!-- end skill-bars -->

        </div> <!-- main-col end -->

    </div> <!-- End skills -->

</section> <!-- Resume Section End-->