{% with title=title|default("Entry | Blog", true) %}
    {% include 'defaults/head.html' %}
{% endwith %}

{% import 'blog/swe/banner.html' as home_banner with context%}

{% with banner=home_banner %}
    {% include 'defaults/header.html' %}
{% endwith%}

<body>
    <section id="swe-entry"}>
        <div class="swe-post"}>
            {% with entry_infos= entry_infos|default([{'header': 'Default Header', 'text': 'Default Text'}], true) %}
                {% for row in entry_infos %}
                    <h2> {{ row['header'] }} </h2>
                    <p> {{ row['text'] }}</p>
                {% endfor %}
            {% endwith %}
        </div>
    </section>
</body>


{% include 'defaults/foot.html' %}
</html>