<div class="row banner">
    <div class="banner-text">
        <h1 class="responsive-headline">Blog</h1>
        <h3>This will be for my weekly <span>SWE</span> blog.</h3>
        <hr />
        <ul class="rslides" id="slider3">
            {% with quotes=quotes|default([], true) %}
                {% for quote in quotes %}
                    <li class="slider-info">
                        <p> {{ quote['text'] }} </p>
                        <p> - {{ quote['person'] }}</p>
                    </li>
                {% endfor %}
            {% endwith %}
        </ul>
    </div>
</div>

<p class="scrolldown">
    <a class="smoothscroll" href="#about"><i class="icon-down-circle"></i></a>
</p>