/*
=====================================================================
*   Ceevee v1.0 Layout Stylesheet
*   url: styleshout.com
*   03-18-2014
=====================================================================

   TOC:
   a. General Blog
   b. SWE Blog
===================================================================== */

/* ------------------------------------------------------------------ */
/* a. General Blog
/* ------------------------------------------------------------------ */

/* ------------------------------------------------------------------ */
/* b. SWE Blog
/* ------------------------------------------------------------------ */

#swe-entry {
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

.swe-post {
    margin-left: 5%;
}