{% include 'defaults/head.html' %}

<body>

{% include 'defaults/header.html' %}

{% include 'home/about.html' %}

{% include 'home/resume.html' %}

{% include 'home/portfolio.html' %}

{% include 'home/testimonials.html' %}

<!--&lt;!&ndash; Call-To-Action Section-->
<!--================================================== &ndash;&gt;-->
<!--<section id="call-to-action">-->

    <!--<div class="row">-->

        <!--<div class="two columns header-col">-->

            <!--<h1><span>Get Hosting.</span></h1>-->

        <!--</div>-->

        <!--<div class="seven columns">-->

            <!--<h2><a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT">Host This Template on Dreamhost.</a></h2>-->
            <!--<p>Looking for an awesome and reliable webhosting? Try <a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT"><span>DreamHost</span></a>.-->
                <!--Get <span>$50 off</span> when you sign up with the promocode <span>STYLESHOUT</span>.-->
                <!--&lt;!&ndash; Simply type	the promocode in the box labeled “Promo Code” when placing your order. &ndash;&gt;</p>-->

        <!--</div>-->

        <!--<div class="three columns action">-->

            <!--<a href="http://www.dreamhost.com/r.cgi?287326|STYLESHOUT" class="button">Sign Up Now</a>-->

        <!--</div>-->

    <!--</div>-->

<!--</section> &lt;!&ndash; Call-To-Action Section End&ndash;&gt;-->

{% include 'home/contact.html' %}
</body>


{% include 'defaults/foot.html' %}
</html>