{% with title='Home | Thien Vo' %}
    {% include 'defaults/head.html' %}
{% endwith %}

{% import 'home/navbar.html' as home_navbar %}
{% import 'home/banner.html' as home_banner %}

{% with navbar=home_navbar, banner=home_banner %}
    {% include 'defaults/header.html' %}
{% endwith%}

<body>

{% include 'home/about.html' %}

{% with skill_list=[
    {'mastery' : '86%', 'name' : 'Scala'},
    {'mastery' : '40%', 'name' : 'Python'},
    {'mastery' : '65%', 'name' : 'Java'},
    {'mastery' : '60%', 'name' : 'HTML5'}
] %}
    {% include 'home/resume.html' %}
{% endwith %}

{% include 'home/portfolio.html' %}

{#{% include 'home/testimonials.html' %}#}git st

{% include 'home/contact.html' %}
</body>


{% include 'defaults/foot.html' %}
</html>